/** Custom Styles **/

.card-grid {
	/* TODO(@delucis): Upstream this fix to Starlight. `gtc` missing there. */
	grid-template-columns: 100%;
}
@media (min-width: 50rem) {
	.card-grid {
		grid-template-columns: 1fr 1fr;
	}
}

.sl-flex.action {
	border-radius: 8px;
  }

.sidebar-content ul li a {
	font-size: 15px;
	margin-bottom: 10px;
	padding-left: 25px;
}

.sidebar-content ul li summary span {
	color: white;
}